.cuda-*
/cuda-repo-wsl-ubuntu-12-3-local_12.3.0-1_amd64.deb
/cuda-repo-wsl-ubuntu-12-3-local_12.3.0-1_amd64.deb.1
/cuda-repo-wsl-ubuntu-12-3-local_12.3.0-1_amd64.deb.2
/MegaMillions/
/TA_Lib-0.4.24-cp39-cp39-win_amd64.whl
custom_data_bundle.yaml
model_strat.pkl
MegaMillions_Model.pkl
MegaMillions_Model_1.pkl
MegaMillions_Model_2.pkl
MegaMillions_Model_3.pkl
MegaMillions_Model_4.pkl
MegaMillions_Model_5.pkl
MegaMillions_Model.pkl
